# DATABASE
DATABASE_URL=your-url-database

# API
NEXT_PUBLIC_API_URL=/api

# DADATA
API_KEY_DADATA=your-key-dadata

# JWT
NEXTAUTH_SECRET=secret-key

# SENDMAIL
BASE_URL=your-base-url-server
SMTP_SERVER_USERNAME=your-email-address
SMTP_SERVER_PASSWORD=your-app-password
SMTP_SERVER_HOST=email-smtp.us-east-1.amazonaws.com

# Юkassa
YOOKASSA_API_KEY=your-api-key
YOOKASSA_CALLBACK_URL=your-callback-url
YOOKASSA_STORE_ID=your-store-id

# auth github
GITHUB_IF=client-iD
GITHUB_SECRET=client-secrets